@charset "UTF-8";

/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffffff, #000b33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Booking Form Container */
.booking-container {
    width: 450px;
    background: rgba(255, 255, 255, 0.95);

    cursor: pointer;
    transition: background 0.3s;
}

.book-btn:hover {
    background: #16213e;
}
